# Discord Bot Token (จำเป็นต้องใส่)
DISCORD_TOKEN=your_bot_token_here

# Bot Config
DEFAULT_LANGUAGE=th
COMMAND_GUILD_IDS=

# Lavalink Config
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass

# Optional
LOG_LEVEL=INFO
DATABASE_PATH=data/panyari.db
